<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <script src="../static/index.js"></script>
    <title>弘恩科技软件管理平台</title>
</head>
<body class="index">
    <div class="welcome" align="center" >
        <p style="margin: 0">弘恩科技软件管理平台</p>
        <p style="font-size: 20px">Hongen Technology Software Release Platform</p>
        <a onclick="checkAdmin() "  class="index-button admin1">版本管理</a>
        <a href="./project.html?isadmin=0" class="index-button admin2">版本下载</a>
    </div>
</body>
</html>