<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>所有产品</title>
    <link media="(min-width:500px)" rel="stylesheet" href="../static/project.css" type="text/css"/>
    <link media="(max-width:500px)" rel="stylesheet" href="../static/Ptele.css" type="text/css"/>
    <link rel="stylesheet" href="../static/style-search.css" media="screen" type="text/css" />
    <script src="../static/jquery-3.4.1.js"></script>
    <script  src="../static/project.js"></script>
</head>
<body class="p1" onload="GetProjects1()">
<div class="p1t">
    <a href="index.html" style="text-decoration: none;color: white">弘恩科技软件管理平台</a>
</div>
<div id="d" class="webdesigntuts-workshop"> <span>
  <input class="input" id="input" type="search" placeholder="请输入项目名称"/>
  <button onclick="Search1()">搜索</button>
  </span> </div>
<div class="projects" id="aProjects">

</div>
</body>
</html>