<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport" />
    <meta charset="UTF-8">
    <title>版本列表</title>
    <script  type="text/javascript" src="../static/jquery-3.4.1.js"></script>
    <link media="(max-width:500px)" rel="stylesheet" href="../static/Vtele.css" type="text/css"/>
    <link media="(min-width:500px)" rel="stylesheet" href="../static/VPC.css" type="text/css"/>
    <script src="../static/versions.js"></script>
</head>
<body class="versions" onload="GetVersions()">
<div class="p1t" >
    <a href="index.html" style="text-decoration: none;color: white">弘恩科技软件管理平台</a>
</div>
<div class="ves_container"  >
    <div class="ves_left">
    <div class="vpName">

    </div>
    </div>

    <div class="ves_right">

    </div>
</div>
</body>
</html>